###### Database configuration ######
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USER=postgres
DATABASE_PASSWORD= 
DATABASE_DB=progress_tracker
DATABASE_SCHEMA=public
DATABASE_LOGGING=true
DATABASE_SYNCRONIZE=true



# JWT
# JWT secret key
JWT_SECRET="thisisasamplesecret"

#AWS-S3
AWS_S3_BUCKET_NAME
AWS_S3_BUCKET_REGION
AWS_S3_BUCKET_ACCESS_KEY
AWS_S3_BUCKET_SECRET_KEY